<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="AdminChargeController.list" href="/admin/charge/list"><span class="glyphicon glyphicon-th-list"></span> 充值记录</a></li>
                    <li><a class="auth" sn="AdminChargeController.add" href="/admin/url/list"><span class="fa fa-plus"></span> 充值</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
